RewriteEngine On
RewriteBase /task-management/

RedirectMatch 403 ^/(config|includes|logs)/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
