RewriteEngine On
RewriteBase /task-management-etec/

# Block direct access to sensitive folders
RewriteRule ^(config|includes|logs)/ - [F,L]

# Router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [L,QSA]
RewriteRule ^$ index.php [L]
